body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  position: relative;
  vertical-align:middle;
  min-width:300px;
  min-height:500px;
  background-color: #ededed;
}

h1 {
  text-align: center;
}

#tbox {
  vertical-align: bottom;
}

.deleteBtn {
  padding: 20;
  margin: 5px;
  border: none;
  background: none;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}
