body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  position: relative;
  vertical-align:middle;
  min-width:300px;
  min-height:500px;
  background-color: #ededed;
}

#headerdiv {
  padding-bottom: 10px;
}
